.item {
  max-width: 350px;
  height: 100px;
  border: 3px solid rgb(65, 62, 62);
  margin: 15px 0;
  position: relative;
}

.item__index {
  background: #fff;
  display: inline-block;
  padding: 10px;
}

.remove {
  position: absolute;
  right: 0;
  top: 0;
}

input {
  display: block;
  margin: 5px 0;
  width: 370px;
}